Binaries
!Plugins/FMODStudio/Binaries/Win64/fmod_vc.lib
!Plugins/FMODStudio/Binaries/Win64/fmodL_vc.lib
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace